@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.logo {
    position: absolute;
    display: block;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    top: 0;
}

.hero-image-container {
    position: relative;
}

#hero-image {
    position: absolute;
    display: block;
    background: url(/assets/images/hero-image.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.hero-text {
    text-align: center;
    margin-top: 14rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

/* code resource: Nathan Schmidt
 https://codepen.io/mrnathan8/pen/KwKdmO */
.background-bar {
    width: 100%;
    height: 200px;
    background: linear-gradient(161deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
    background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
    background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
    background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
    opacity: 0.3;
    position: absolute; 
    z-index: 0;
    left: 0;
    top: 11.5rem;

}

/* When the height of the screen is less than 450 pixels, change the font-size of the links 
and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}